<a href="https://colab.research.google.com/github/MrKevinCook/hello-world/blob/master/Copy_of_Assignment03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3

In [28]:
import pandas as pand

In [21]:
df = pand.read_csv('https://raw.githubusercontent.com/frankData612/pandas_for_everyone/master/data/tesla_stock_yahoo.csv')

In [22]:
df.head()

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [23]:
df.shape

(1791, 7)

In [24]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [25]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [29]:
date_time = pand.to_datetime(df['Date'],format='%Y-%m-%d')

In [32]:
df['date_time'] = date_time #add new column as date_time
df

,Date,Open,High,Low,Close,Adj Close,Volume,date_time
0,2010-06-29,19.000000,25.000000,17.540001,23.889999,23.889999,18766300,2010-06-29
1,2010-06-30,25.790001,30.420000,23.299999,23.830000,23.830000,17187100,2010-06-30
2,2010-07-01,25.000000,25.920000,20.270000,21.959999,21.959999,8218800,2010-07-01
3,2010-07-02,23.000000,23.100000,18.709999,19.200001,19.200001,5139800,2010-07-02
4,2010-07-06,20.000000,20.000000,15.830000,16.110001,16.110001,6866900,2010-07-06
...,...,...,...,...,...,...,...,...
1786,2017-08-02,318.940002,327.119995,311.220001,325.890015,325.890015,13091500,2017-08-02
1787,2017-08-03,345.329987,350.000000,343.149994,347.089996,347.089996,13535000,2017-08-03
1788,2017-08-04,347.000000,357.269989,343.299988,356.910004,356.910004,9198400,2017-08-04
1789,2017-08-07,357.350006,359.480011,352.750000,355.170013,355.170013,6276900,2017-08-07
1790,2017-08-08,357.529999,368.579987,357.399994,365.220001,365.220001,7449837,2017-08-08

In [34]:
df.dtypes

Date                 object
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
date_time    datetime64[ns]
dtype: object

In [57]:
#Find the maximum date of your data.
max(df['date_time'])

Timestamp('2017-08-08 00:00:00')

In [58]:
min(df['date_time']) #minimum date

Timestamp('2010-06-29 00:00:00')

In [67]:
max_date = df['date_time'].max()

In [69]:
df['diff'] = (max_date - df['date_time']).dt.days #subtract dates from max dates and create a new column

In [75]:
df['diff_months'] = (df['diff']) / 30 #convert days into months assuming each month has an average of 30 days and create a new column

In [76]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,date_time,diff,diff_months
0,2010-06-29,19.000000,25.000000,17.540001,23.889999,23.889999,18766300,2010-06-29,2597,86.566667
1,2010-06-30,25.790001,30.420000,23.299999,23.830000,23.830000,17187100,2010-06-30,2596,86.533333
2,2010-07-01,25.000000,25.920000,20.270000,21.959999,21.959999,8218800,2010-07-01,2595,86.500000
3,2010-07-02,23.000000,23.100000,18.709999,19.200001,19.200001,5139800,2010-07-02,2594,86.466667
4,2010-07-06,20.000000,20.000000,15.830000,16.110001,16.110001,6866900,2010-07-06,2590,86.333333
...,...,...,...,...,...,...,...,...,...,...
1786,2017-08-02,318.940002,327.119995,311.220001,325.890015,325.890015,13091500,2017-08-02,6,0.200000
1787,2017-08-03,345.329987,350.000000,343.149994,347.089996,347.089996,13535000,2017-08-03,5,0.166667
1788,2017-08-04,347.000000,357.269989,343.299988,356.910004,356.910004,9198400,2017-08-04,4,0.133333
1789,2017-08-07,357.350006,359.480011,352.750000,355.170013,355.170013,6276900,2017-08-07,1,0.033333
1790,2017-08-08,357.529999,368.579987,357.399994,365.220001,365.220001,7449837,2017-08-08,0,0.000000

In [78]:
# Save as a new CSV file
df.to_csv('assignment03.csv', index = False)

## Purpose:     
This assignment is intended to help you do the following:   
1.	Modify and add information on the dataset by adding and calculating new columns     
2.	Work with dates in a dataset       
3.	Learn how to write and save your work as a csv file from Jupyter Notebook.

## Action Items:       
•	Create a new column using the date column.     
  1. Find the maximum date of your data.     
  2. Subtract all the dates on the column from the maximum date.       
  3. Convert the number of days into number of months.       
  4. Save the result on a new column and add to the data set.        
  5. Save the dataset as a csv file.        
  6. Upload the assignment on your GitHub account and Update the README file where you explain everything you did.